html {
    overflow-x: hidden;
    background: url(../images/cadillac.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

body {
    background-color: transparent !important;
}

.table-container {
    margin-top: 20%;
    background-color: #e4e5e6;
    border-radius: 2%;
    overflow-x: auto;
    max-width: 400px;
    min-height: 515px;
}
.table-cover {
    padding: 10px;
    width: 100%;
}

.table-cover tr {
    height: 50px;
}


.form-container {
    margin-top: 20%;
    background-color: #e4e5e6;
    border-radius: 2%;
    padding: 1.5rem;
    border-width: .2rem;
    max-width: 400px;
    min-height: 515px;
}

.gmap-container  {
    position: relative;
    padding-bottom: 65.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin: 10px;
}
.gmap-container .gmap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 667px) {
    .table-container {
        width: 100%;
        min-height: 480px;
    }
    .form-container {
        width: 100%;
        min-height: 480px;
        margin-top: 5%;
    }
}